<%= render partial: "navbar", locals: {active: "config"} %>
<div class=page-body id=config>
    <hr />
    <button id=create-flight class="btn btn-lg btn-primary"> Create a new flight </button>
</div>
