<%= render partial: "navbar", locals: {active: "telemetry"} %>

<div class=page-body>
<div class="row">
    <div class="col-lg bordered no-bottom">
        <span class="header green">General Telemetry</span>
        <div class="vector-group">
            <h4>Acceleration</h4>
            <h5>X: <span id="accel-x">~</span> (m/s&sup2;)</h5>
            <h5>Y: <span id="accel-y">~</span> (m/s&sup2;)</h5>
            <h5>Z: <span id="accel-z">~</span> (m/s&sup2;)</h5>
        </div>
        <div class="vector-group">
            <h4>Magnetic</h4>
            <h5>X: <span id="mag-x">~</span> gauss</h5>
            <h5>Y: <span id="mag-y">~</span> gauss</h5>
            <h5>Z: <span id="mag-z">~</span> gauss</h5>
        </div>
        <div class="vector-group">
            <h4>Gyroscopic</h4>
            <h5>X: <span id="gyro-x">~</span> (deg/s)</h5>
            <h5>Y: <span id="gyro-y">~</span> (deg/s)</h5>
            <h5>Z: <span id="gyro-z">~</span> (deg/s)</h5>
        </div>
    </div>
    <div class="col-lg bordered small-padding">
        <span class="header purple">Imaging</span>
        <% if @imgs.length == 0 # no images %>
            <img id="video-stream" src="/assets/nodata.jpg" />
            <span id="no-image"></span> <!-- To let JS no there isn't an image -->
        <% else # there is an image %>
            <img id="video-stream" src="<%= @imgs.all.last.base64 %>" />
        <% end %>
        
        <div class="last-update">
            <span class="under-value slightly-smaller">Last Image Received: <span class="slightly-smaller" id="last-update-image">0</span> s</span> 
            <br />
            <span class="under-value slightly-smaller">Last Telemetry Update: <span class="slightly-smaller" id="last-update">0</span> s</span> 
        </div>
    </div>
    <div class="col-lg bordered small-padding">
        <span class="header orange">Global Position <span class="no-data">!</span></span>
        <div id="map"></div>

        <button class="map-button" id="reset-zoom">Reset Zoom</button >
        <button class="map-button" id="go-to-balloon">Go To Balloon</button>
        
        <div style="padding-top: 1em;"></div>
        <span class=under-value id="altitude-value">0</span><span class="under-value slightly-smaller"> m</span>
        <br />
        <span class=under-value id="latitude-value">0</span><span class="under-value slightly-smaller">&deg; N</span>
        <span class=under-value id="longitude-value">0</span><span class="under-value slightly-smaller">&deg; W</span>
        <p class="small-note">For dual tracking, consult the map tab</p>
    </div>
</div>

<div class="row">
    <div class="col-lg bordered small-padding">
        <span class="header blue">Altitude Graph <span class="no-data">!</span></span>
        <%= line_chart "/get/alt/" + @f,
            xtitle: "Time", ytitle: "m",
            id: "alt",
            discrete: true,
            library: @graphSettings,
            width: "30vw", colors: ["blue"],
            refresh: 5
        %>
        <p class="small-note">For a more accurate visualization, consult the other telemtry tab</p>
    </div>
    <div class="col-lg bordered small-padding">
        <span class="header red">Controls</span>
        <div class="control-buttons">
            <button type="button" class="btn btn-danger">Launch Rocket</button>
            <br />
            <button type="button" class="btn btn-warning">Play Sound</button>
            <br />
            <button type="button" class="btn btn-success">Blink LED</button>
            <br />
        </div>
        <button class="authorize-button btn-primary btn-lg btn-block">Authorize</button>
    </div>
    <div class="col-lg bordered small-padding">
        <span class="header yellow">Other Readings</span>
        <div class="vector-group">
            <h5> Transmission Info </h5>
            <h6>Last Node: <span id="last-node">~</span></h6>
            <h6>Last RSSI: <span id="last-rssi">~</span></h6>
        </div>
        <div class="vector-group">
            <h5> Angle Info </h5>
            <h6>X: <span id="ang-x">~</span>&deg;</h6>
            <h6>Y: <span id="ang-y">~</span>&deg;</h6>
            <h6>Z: <span id="ang-z">~</span>&deg;</h6>
        </div>
        <div class="vector-group">
            <h5> Environment Info </h5>
            <h6>Temperature: <span id="temp">~</span>&deg;C</h6>
            <h6>Pressure: <span id="pressure">~</span> hPa</h6>
            <h6>Humidity: <span id="humidity">~</span> %</h6>
        </div>
    </div>
</div>
</div>