<div class="row">
    <div class="col-lg bordered">
        <span class="header">Altitude</span>
        <span id="altitude-value">0</span> <span class="slightly-smaller">km</span>
        <br />
        <span id="latitude-value">0</span> <span class="slightly-smaller">* N</span>
        <br />
        <span id="longitude-value">0</span> <span class="slightly-smaller">* W</span>
        <br />
    </div>
    <div class="col-lg bordered small-padding">
        <span class="header">Video Stream</span>
        <img id="video-stream" src="assets/images/testimg.png" />
    </div>
    <div class="col-lg bordered small-padding">
        <span class="header">Global Position</span>
        <div id="map"></div>
    </div>
</div>

<div class="row">
    <div class="col-lg bordered small-padding">
        <span class="header">Misc. Data</span>
        <div id="altGraph" width="auto" height="17em"></div>
    </div>
    <div class="col-lg bordered">
        <span class="header">Conrols</span>
    </div>
    <!-- <div class="col-lg bordered small-padding">
        <span class="header">Lat/Lng</span>
        <div class="small-value" id="latitude-value">51.21312</div>
        <div class="small-value" id="longitude-value">-144.274415</div>
    </div> -->
</div>