<%= render partial: "navbar", locals: {active: "mapPage"} %>
<div class="page-body">
    <span class="no-data large">NO DATA</span>
    <div id=bigmap></div>

    <button class="map-button" id="reset-zoom">Reset Zoom</button>
    <button class="map-button" id="go-to-balloon">Go To Balloon</button>
    <button class="map-button" id="go-to-tracker">Go To Tracking Node</button>
    
    <h3 class=gpsheader>GPS Info</h3>
    <div class=map-group>
        <h4>Balloon</h4>
        <h5>Lat: <span id="latitude-value">~</span></h5>
        <h5>Lng: <span id="longitude-value">~</span></h5>
    </div>
    <div class=map-group>
        <h4>Tracking Unit</h4>
        <h5>Lat: <span id="latitude-value_tracking">~</span></h5>
        <h5>Lng: <span id="longitude-value_tracking">~</span></h5>
    </div>
</div>