/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$vertical-padding: 1em;

body
{
    font-family: 'Montserrat', Arial, sans-serif;
    color: white;
    margin: 3em;
    background-color: black;
}

#altGraph
{
    height: 20em;
    width: auto;
    & {
        display: -ms-flex; 
        display: -webkit-flex;
        display: flex; 
    }
}

.vector-group
{
    color: white;
}

.bordered
{
    border: 2px solid white;
}

.row
{
    margin-top: 3rem;
}

.map-button
{
    color: blue;
    margin-top: 0.5em;
    margin-bottom: 0;
}

.no-bottom
{
    padding-bottom: 0 !important;
}

[class*='col-lg']
{
    margin-left: 2em;
    margin-right: 2em;
    padding-top: $vertical-padding;
    padding-bottom: $vertical-padding;
    text-align: center;
    position: relative;
}

.under-value
{
    color: white;
    .slightly-smaller
    { font-size: 0.75em; }
}

.last-update
{ 
    margin-top: 1.65em; 
    font-size: 1.35em;
}

[class*='col-lg'] .header
{
    background: black;
    
    font-weight: 900;
    font-size: 1.25em;
    
    position: absolute;
    top: -1em;
    left: 3em;
    
    padding-left: 1em;
    padding-right: 1em;
}

/* Colours for headers */
.red
{ color: rgb(238, 61, 61)  !important; }

.blue
{ color: lightcyan  !important; }

.green
{ color: lightgreen  !important; }

.purple
{ color: rgb(229, 155, 248) !important; }

.orange
{ color: lightcoral !important; }

.yellow
{ color: rgb(255, 253, 140) !important;}

.no-data
{
    color: red;
    font-weight: 900;
    margin-left: 4px;
    display: none;

    &.large {
        font-size: 2em;
    }
}

/**/

#video-stream
{
    height: 40vh;
    margin-top: 1em;
}

#map 
{
    height: 26em;
}

#bigmap
{
    height: 55em;
}

.small-padding
{
    padding-top: 1em;
    padding-bottom: 1em;
}

.small-padding-sides
{
    padding-left: 1em;
    padding-right: 1em;
}

.small-value
{
    color: white;
    font-size: 2em;
    
    padding-top: 0;
    padding-bottom: 0;
}

.control-buttons button
{
    background-color: black;
    margin-top: 2em;
    color: white
}

.authorize-button
{
    margin-top: 3em;
    width: 75%;
    margin-left: 12.5%;
}

.canvasjs-chart-tooltip{
    margin-bottom: 20em;
}

.graph
{
    margin-bottom: 3em;
}